= link_to Octokit.authorize_url(ENV['github_token'], scope: 'repo,user:email') do
  img.landig src='https://lh6.googleusercontent.com/-fx4mKe-IsAQ/V6tao0GsH7I/AAAAAAAAA9A/accMr8WIbqsCDhKQ5TXxsHZ2Ws5yuSOcgCL0B/w1241-h886-no/2016-08-10.png'
