.projects {
  margin: 40px 5px 5px;

  .head {
    text-align: center;

    &__title {
      font-size: 20px;
    }
  }

  .separator {
    border-top: 1px solid #999999;
    margin: 5px 0px 15px;
  }

  .list {
     list-style-type: none;
     padding: 20px;
     min-width: 300px;

    &__item {
      border: 1px solid #adadad;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: white;
      display: block;
      color: black;
      padding: 15px;
      text-align: justify;
      transition: all .8s ease;

      &:hover {
        transform: translate(15px, 0px);
        transition: all .5s ease;
        background: #f5f5f5;
      }
    }

    &__link {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    .created {
      font-size: 10px;
      padding-top: 7px;
      color: #999;
    }
  }
}
