@import 'checkbox';

.pl-success, .pl-error, .pl-failure, .pl-pending {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.pl-success {
  background-color: #7db381;
}

.pl-error, .pl-failure {
  background-color: #f15a3f;
}

.pl-pending {
  background-color: #fff584;
}


.repository {
  margin: 15px;
  padding: 25px;

  &-head {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
  }

  &-form {
    display: inline-flex;
    float: right;
  }

  &-title {
    display: inline-block;
    font-size: 25px;
    color: #454545;
  }
}

.pull-list {
  list-style-type: none;
  padding: 0px;

  &__item {
    background: #656565;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .item-title {
    color: white;
    font-size: 20px;
    margin-right: auto;
    padding-left: 15px;
 }

  .action {
    padding: 1px;
    min-width: 55px;
    margin-right: 10px;
    text-align: center;
    background: #464545;
    border-radius: 7px;
    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-size: 12px;
      font-weight: 600;
      vertical-align: text-bottom;
    }
  }
}

.spinner {
  display: none;
  height: 15px;
  position: relative;
}

.delete {
  width: 25px;
  fill: #454545;
}

.channel-form {
  .channel-url {
    text-align: center;
    height: 30px;
    font-size: 15px;
    color: #656565;
    background: transparent;
    border: none;
    border-bottom: 1px solid #a8b7ae;
    width: 50vw;
    transition: background 0.4s ease-in-out;
    &:focus {
      background: #d0d0d0;
    }
  }
  .channel-button {
    border: 2px solid #656565;
    margin: 15px 0 0 15px;
    font-size: 14px;
    line-height: 15px;
    padding: 5px;
    min-width: 60px;
    color: #656565;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background: #d0d0d0;
    }
  }
}
