@import 'contact';

body {
  background: #e1e1e1 asset-data-url('bg.png') repeat;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(#e1e1e1 30%, transparent);
  }
}

.logo {
  max-height: 50vh;
  min-height: 250px;
  max-width: 300px;
  position: relative;
  z-index: 10000;
}

.left-sticks, .right-sticks {
  max-width: 433px;
  position: absolute;
  top: 10%;
  width: 33%;
  left: 0;
  z-index: 100;
}

.right-sticks {
  left: auto;
  right: 0;
}

.right-pattern {
  &:after, &:before {
    content: '';
    position: absolute;
    width: 45%;
    height: 50px;
    top: 15%;
    right: 0;
    background: repeating-linear-gradient(45deg, transparent, #adadad 1px, transparent 2px, transparent 10px);
  }

  &:after {
    height: 100px;
    width: 25%;
    top: 70%;
  }
}

.left-pattern {
  position: absolute;
  content: '';
  width: 30%;
  height: 300px;
  top: 45%;
  left: 0;
  background: repeating-linear-gradient(0deg, transparent, #adadad 1px, transparent 1px, transparent 12px),
  repeating-linear-gradient(90deg, transparent, #adadad 1px, transparent 1px, transparent 12px);
}

.main {
  padding-top: 14vh;
  min-height: 70vh;
}

.history {
  max-width: 400px;
  position: relative;
  z-index: 1000;
  display: inline-block;
  vertical-align: middle;
  width: 42%;
  transition: all 0.5s ease-in-out;
  &.clean {
    vertical-align: bottom;
  }
}

.slack-block {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  top: 130px;
  padding: 170px 50px 200px;
  background: rgba(0, 0, 0, 0.76);
  text-align: center;
  p {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 494px;
    margin: 30px auto 40px;
    color: #a7a7a7;
    line-height: 1.3;
  }
  .slack-button {
    cursor: pointer;
  }
  .start-button {
    display: inline-block;
    z-index: 100;
    position: absolute;
    clear: both;
    top: -30px;
    left: 0;
    right: 0;
  }
}

.to {
  border: 15px solid transparent;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 25px solid #d0d0d0;
  margin: 0 20px 0 40px;
  position: relative;
  z-index: 100;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .history {
    width: 100%;
    &.ugly {
      margin-top: 40px;
    }
  }
  .to {
    display: block;
    margin: 30px auto 0;
    border-left: 15px solid transparent;
    border-top: 20px solid #d0d0d0;
  }
}

@media (min-width: 1550px) {
  .history {
    max-width: 500px;
    transition: all 0.5s ease-in-out;
  }
}

.body-schema {
  position: absolute;
  opacity: 0;
}
