@import 'contact';

body {
  background: #e1e1e1 asset-data-url('bg.png') repeat;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(#e1e1e1 30%, transparent);
  }
}

.logo {
  max-height: 50vh;
  min-height: 250px;
  max-width: 300px;
  position: relative;
  z-index: 10000;
  padding-top: 25px;
}

.left-sticks, .right-sticks {
  max-width: 433px;
  position: absolute;
  top: 10%;
  width: 33%;
  left: 0;
  z-index: 100;
}

.right-sticks {
  left: auto;
  right: 0;
}

.right-pattern {
  &:after, &:before {
    content: '';
    position: absolute;
    width: 45%;
    height: 50px;
    top: 15%;
    right: 0;
    background: repeating-linear-gradient(45deg, transparent, #adadad 1px, transparent 2px, transparent 10px);
  }

  &:after {
    height: 100px;
    width: 25%;
    top: 70%;
  }
}

.left-pattern {
  position: absolute;
  content: '';
  width: 30%;
  height: 300px;
  top: 45%;
  left: 0;
  background: repeating-linear-gradient(0deg, transparent, #adadad 1px, transparent 1px, transparent 12px),
  repeating-linear-gradient(90deg, transparent, #adadad 1px, transparent 1px, transparent 12px);
}

.history {
  max-width: 325px;
  position: relative;
  z-index: 1000;
  display: inline-block;
  vertical-align: middle;
  width: 42%;
  transition: all 0.5s ease-in-out;
  &.clean {
    vertical-align: bottom;
  }
}

.to {
  border: 15px solid transparent;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 25px solid #d0d0d0;
  margin: 0 20px 0 40px;
  position: relative;
  z-index: 100;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .history {
    width: 100%;
  }
  .to {
    display: block;
    margin: 40px auto 0;
    border-left: 17px solid transparent;
    border-top: 30px solid #d0d0d0;
  }
}

@media (min-width: 1400px ) {
  .history {
    max-width: 500px;
    transition: all 0.5s ease-in-out;
  }

  .to {
    border: 25px solid transparent;
    border-left: 35px solid #d0d0d0;
  }
}

@media (min-width: 1550px) {
  .history {
    max-width: 600px;
    transition: all 0.5s ease-in-out;
  }

  .to {
    border: 30px solid transparent;
    border-left: 40px solid #d0d0d0;
  }
}
